body{
    background-image: url('https://wallpaperscraft.com/image/planet_light_spots_space_86643_1920x1080.jpg') ;
    background-size: cover;
    background-attachment: fixed;
}


h1{
    color: red;
    text-align: center;
    
}

#navbar{
    margin-bottom: 100px
}
.navButtonsDiv{
    margin-top: 30px;
    text-align: right;
    float: right;
}
.navButton{
    margin-right: 20px;
    
}
.campusHead{
    border-radius: 30px;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    margin-left:10px;
    color: white;
   
}
#campusForm{
    background-color: grey;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

.campusName{
    border-radius: 30px;
    background-color: lightblue;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top:0px;
    text-align: center;
    
}
.campus{
    border: 1px solid black;
    border-radius: 10px;
}
.campus.media{
    background: rgba(128, 128, 128, .5);
    
}
.campusList {
    background: transparent;
}
#planetHeading {
    display: inline-block;
    margin-top: -25px;
    margin-right: 10px;
    cursor: pointer;
    
}
#planetHeading:hover{
    color: red;
}

.studentBox{
    background: transparent;
    margin-left:100px;
    border-radius: 30px;
    color: white;
   
}

#studentForm {
    border-radius: 20px;
    background: lightblue;
    color: black;
}
#studentsListMap{
    background:  transparent;
}
.student {
    border: 1px solid black;
    border-radius: 10px;
}
.student a {
    color: white;
}
.student a:hover{
    color:red;
}

.student.media{
    background: rgba(173, 216, 230, .5);
    margin-top: 15px;
}


/* //ALL STUDENTS VIEW */
#hello{
    display: flex;
}
#asvStudentInputForm{
    width: 20%;
    margin-left: 70%;
    background: rgba(0, 0, 3, .9);
    padding: px 20px;
    /* height: 32%; */
    text-align: center;
    padding-bottom: 10px;
    border-radius: 20px;
    position: fixed;
}
.allStudentsTable{
    background-color: rgba(128, 128, 128, .8);
    width: 60%;
    /* margin: auto; */
    border-radius: 30px;
    color: white;
    margin-left: 20px;
}
.allStudentsTable a{
    color: white;

}
.allStudentsTable a:hover{
    color: red;
}