body{
    background-image: url('https://wallpaperscraft.com/image/planet_light_spots_space_86643_1920x1080.jpg') ;
    background-size: cover;
    background-attachment: fixed;
}


h1{
    color: red;
    text-align: center;
    
}

/* .campusOutterDiv{
    border-radius: 30px;
} */
 /* .navbar.navbar-inverse{
    background: transparent;
    text-align: center;
    margin: auto;
}
.container{
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-collapse {
    text-align: center;
    margin-top: 40px;
    background: transparent;
}
.navButtonDiv{
    float: right;
    margin: -30px 0px 0px 0px;
}
.navButton {
    margin-right: 10px
} */
#navbar{
    margin-bottom: 100px
}
.navButtonsDiv{
    margin-top: 30px;
    text-align: right;
}
.navButton{
    margin-right: 20px
}
.campusHead{
    border-radius: 30px;
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}
.studentBox{
    /* float: right; */
    margin-left:100px;
    border-radius: 30px;
    /* float: right */
}
.studentsHead{
    border-radius: 30px;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}